# These likely can't be distributed freely
/doc/papers/*
/doc/samples/*

# Implementation job contract info, might have private info
/doc/contract-info.txt

# Misc clutter
/cache
*.pyc

# Test caches
/test/*.cache.*
/test/*.data.unzip/
